h1{
    font-size: 70px;
    color:#000;
    text-align: center; 
}
*{
    	margin:0 auto;
    	padding: 0;
    }
    body{
    	font-family: century gothic;
    	background-color: white;
    }

    header{
    	background-color: black;

    	padding: 15px;
    }

    nav{
    	background-color: #606060;
    	padding: 10px;
    }

    ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #262626;
    }

    	li {
    		background-color: #262626;
    		float:right;
    		border-right: 1px solid;

    	}

    	li a {
    		display: block;
    		color: white;
    		text-align: center;
    		padding: 14px 16px;
    		text-decoration: none;
    	}


    	li a:hover {
    		background-color: #0093DD;
    	}

    	.active {
    		background-color: #262626;
    	}


    	section{
    		padding: 15px;
    	}

    	#contenedor{
    		width:50%;

    	}
    	p{
    		text-align: justify;
    	}

    	img{
    		width:45%;  float:left; margin: 25px 15px 15px 0;
            border: 2px solid #ccc;
    	}